In [4]:
import pandas as pd
import numpy as np
import math

In [8]:
import os
print(os.getcwd())

c:\Users\Romi\Documents\project-linear-regression

In [7]:
os.chdir("c:/Users/Romi/Documents/project-linear-regression")

In [10]:
df = pd.read_csv('dataset\Salary_dataset.csv')
df.sample(5)

    Unnamed: 0  YearsExperience    Salary
22          22              8.0  101303.0
3            3              2.1   43526.0
27          27              9.7  112636.0
0            0              1.2   39344.0
13          13              4.2   57082.0

In [11]:
df = df.drop(columns={'Unnamed: 0'})

In [12]:
df_year_experience = np.array(df['YearsExperience'])
df_salary = np.array(df['Salary'])

In [14]:
# compute the cost 
def compute_cost(x, y, w, b):
    m = x.shape[0]
    cost = 0
    for i in range(m):
        f_wb = w * x[i] + b
        cost = cost + (f_wb - y[i]) **2
    total_cost = 1/(2*m) * cost
    return total_cost

In [15]:
# compute the gradient (garis miring)
def compute_gradient(x, y, w, b):
  m = x.shape[0]
  dj_dw = 0
  dj_db = 0
  for i in range(m):
    f_wb = w * x[i] + b
    dj_dw_i = f_wb - y[i] * x[i]
    dj_db_i = f_wb - y[i]
    dj_db += dj_db_i
    dj_dw += dj_dw_i
  dj_dw = dj_dw / m
  dj_db = dj_db / m
  return dj_dw, dj_db

In [16]:
def gradient_descent(x, y, w_in, b_in, alpha, num_iters, cost_function, gradient_function):
  j_history = []
  p_history = []
  b = b_in
  w = w_in

  for i in range(num_iters):
    dj_dw, dj_db = compute_gradient(x, y, w, b)

    # update parameter dengan learning rate
    b = b - alpha * dj_db
    w = b - alpha * dj_dw

    # save cost j at each iteration
    if i<100000:
      j_history.append(cost_function(x, y, w, b))
      p_history.append([w, b])

    if i% math.ceil(num_iters/10) == 0:
      print(f"Iteration {i:4}: Cost {j_history[-1]:0.2e} ",
            f"df_dw: {dj_dw:0.3e}, dj_db: {dj_db: 0.3e} ",
            f" w :{w:0.3e}, b:{b:0.5e}")
  return w, b, j_history, p_history

In [17]:
w_init = 0
b_init = 0

iterations = 10000
tmp_alpha = 1.0e-4

w_final, b_final, j_hist, p_hist = gradient_descent(df_year_experience, df_salary, w_init, b_init, tmp_alpha,
                                                    iterations, compute_cost, compute_gradient)

print(f"(w,b) found by gradient_descent: ({w_final:8.4f}, {b_final:8.4f})")

Iteration    0: Cost 3.22e+09  df_dw: -4.850e+05, dj_db: -7.600e+04   w :5.610e+01, b:7.60040e+00
Iteration 1000: Cost 8.67e+08  df_dw: -4.489e+05, dj_db: -3.989e+04   w :5.642e+03, b:5.59713e+03
Iteration 2000: Cost 2.39e+08  df_dw: -4.300e+05, dj_db: -2.101e+04   w :8.584e+03, b:8.54094e+03
Iteration 3000: Cost 7.86e+07  df_dw: -4.201e+05, dj_db: -1.106e+04   w :1.013e+04, b:1.00913e+04
Iteration 4000: Cost 4.13e+07  df_dw: -4.148e+05, dj_db: -5.827e+03   w :1.095e+04, b:1.09079e+04
Iteration 5000: Cost 3.48e+07  df_dw: -4.121e+05, dj_db: -3.069e+03   w :1.138e+04, b:1.13379e+04
Iteration 6000: Cost 3.50e+07  df_dw: -4.106e+05, dj_db: -1.616e+03   w :1.161e+04, b:1.15644e+04
Iteration 7000: Cost 3.61e+07  df_dw: -4.099e+05, dj_db: -8.513e+02   w :1.172e+04, b:1.16837e+04
Iteration 8000: Cost 3.70e+07  df_dw: -4.094e+05, dj_db: -4.483e+02   w :1.179e+04, b:1.17465e+04
Iteration 9000: Cost 3.75e+07  df_dw: -4.092e+05, dj_db: -2.361e+02   w :1.182e+04, b:1.17796e+04
(w,b) found by gradient_descent: (11837.9243, 11797.0118)

In [18]:
print(f"prediksi {w_final* 8.3 + b_final:}")

prediksi 110051.78360628532

In [19]:
print("menambahkan kode untuk check githu")

menambahkan kode untuk check githu