Ini akan menjadi notebook algoritma Linear regression dengan Library Scikit-Learn

In [19]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
from sklearn.linear_model import  SGDRegressor
from sklearn.preprocessing import  StandardScaler
import os

In [15]:
df = pd.read_csv("dataset\Salary_dataset.csv")
df.sample(5)

    Unnamed: 0  YearsExperience    Salary
14          14              4.6   61112.0
23          23              8.3  113813.0
18          18              6.0   81364.0
11          11              4.1   55795.0
21          21              7.2   98274.0

In [17]:
df = df.drop(columns={"Unnamed: 0"})

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes